@mixin util() {
  .pointer {
    cursor: pointer;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

